
Ninja.DomainClasses/bin/Debug/NinjaDomain.Classes.dll
Ninja.DomainClasses/bin/Debug/NinjaDomain.Classes.pdb
.vs/Ninja.Module2Demo/v14/.suo
Ninja.DomainClasses/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ninja.DomainClasses/obj/Debug/NinjaDomain.Classes.csproj.FileListAbsolute.txt
Ninja.DomainClasses/obj/Debug/NinjaDomain.Classes.csprojResolveAssemblyReference.cache
Ninja.DomainClasses/obj/Debug/NinjaDomain.Classes.dll
Ninja.DomainClasses/obj/Debug/NinjaDomain.Classes.pdb
Ninja.DomainClasses/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Ninja.DomainClasses/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Ninja.DomainClasses/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NinjaDomain.DataModel/bin/Debug/EntityFramework.dll
NinjaDomain.DataModel/bin/Debug/EntityFramework.SqlServer.dll
NinjaDomain.DataModel/bin/Debug/EntityFramework.SqlServer.xml
NinjaDomain.DataModel/bin/Debug/EntityFramework.xml
NinjaDomain.DataModel/bin/Debug/NinjaDomain.Classes.dll
NinjaDomain.DataModel/bin/Debug/NinjaDomain.Classes.pdb
NinjaDomain.DataModel/bin/Debug/NinjaDomain.DataModel.dll
NinjaDomain.DataModel/bin/Debug/NinjaDomain.DataModel.dll.config
NinjaDomain.DataModel/bin/Debug/NinjaDomain.DataModel.pdb
NinjaDomain.DataModel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
NinjaDomain.DataModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.csproj.FileListAbsolute.txt
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.csproj.GenerateResource.Cache
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.csprojResolveAssemblyReference.cache
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.dll
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.Migrations.Initial.resources
NinjaDomain.DataModel/obj/Debug/NinjaDomain.DataModel.pdb
NinjaDomain.DataModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NinjaDomain.DataModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NinjaDomain.DataModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
